.navbar {
  color: white;
  .navbar-brand,
  .nav-link,
  .dropdown-menu {
    color: white;
  }
  .dropdown-menu {
    background-color: white;
    .dropdown-item {
      color: black;
      &:hover {
        color: #0d6efd;
        background-color: rgba(13, 110, 253, 0.1);
      }
    }
  }

  .dropdown-menu {
    background-color: white;
  }

  .dropdown-menu.show {
    display: block;
    position: absolute;
    z-index: 1000;
  }
}