.navbar {
  background-color: #003366;
  color: black;

  .navbar-brand,
  .nav-link,
  .dropdown-menu {
    color: black;
  }

  .nav-link:hover,
  .dropdown-item:hover {
    color: red;
  }

  // Para el dropdown
  .dropdown-menu {
    background-color: #003366;
  }

  .dropdown-menu.show {
    display: block;
    position: absolute;
    z-index: 1000;
  }
}