.navbar {
  background-color: #003366;
  color: white;

  .navbar-brand,
  .nav-link,
  .dropdown-menu {
    color: white;
  }

  .nav-link:hover,
  .dropdown-item:hover {
    color: #ffcc00;
  }

  // Para el dropdown
  .dropdown-menu {
    background-color: #003366;
  }
}