<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Verificación de cuenta</title>
</head>
<body>
<h1>Verificación de cuenta</h1>
<p>Gracias por registrarte en nuestro sitio.</p>
<p>Haz clic en el siguiente enlace para verificar tu cuenta:</p>
<a href="{{ link }}"></a>
</body>
</html>
