<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Verificaci칩n de cuenta</title>
</head>
<body>
<h1>Verificaci칩n de cuenta</h1>
<p>Gracias por registrarte en nuestro sitio. Por favor, utiliza el siguiente c칩digo para verificar tu cuenta:</p>
<h2>{{ token }}</h2>
<p>Este token expirar치 en 10 minutos.</p>
</body>
</html>
