{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inicio - Coffee{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center min-vh-50 text-center">
        <h1>Bienvenido a Coffee</h1>
        <p>Esta es la página de inicio de la aplicación.</p>
    </div>
{% endblock %}

