{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inicio - Coffee{% endblock %}

{% block page_body %}
    <div class="hero-image w-100">
        <img src="{{ asset('images/portrait_image.jpg') }}" alt="Imagen de bienvenida" class="img-fluid w-100" style="max-height: 600px; object-fit: cover;">
    </div>
    <div>
        <h1>Descubre la especialidad del Café</h1>
    </div>
{% endblock %}

