{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inicio - MiApp{% endblock %}

{% block body %}
    <h1>Bienvenido a MiApp</h1>
    <p>Esta es la página de inicio de la aplicación.</p>
{% endblock %}

